@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0d4b58;
    --secondary-color: #83d1d5;
    --accent1-color: #FF9400;
    --accent2-color: #fff;
  
    --heading-font: 'Yeseva One', serif;
    --paragraph-font: 'Josefin Sans', sans-serif;
  
    --nav-background-color: #0D4B58;
    --nav-link-color: #A3DCED;
    --nav-hover-link-color: #0D4B58;
    --nav-hover-background-color: #a3dced;
}

body {
    max-width: 1280px;
    font-family: var(--paragraph-font);
    margin: auto;
    line-height: 1.5em;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    max-width: 1280px;
    font-family: var(--paragraph-font);
    margin: auto;
    padding: 50px 0;
    background-color: var(--nav-background-color);
}

footer p {
    grid-column: 2/3;
    color: var(--accent2-color);
}

footer a {
    color: #fff;
    text-decoration: none;
}

 header {
    background-color: var(--nav-background-color);
    padding: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 150px;
    align-items: center;
    column-gap: 30px;
}

header img {
    filter: invert(100%);
    display: block;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

figcaption {
  font-size: .9rem;
  color: var(--primary-color);
  text-align: center;
}


/* class selectors */

.main-nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;

}
  
.main-nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
.main-nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  
.main-nav a:hover {
    color: var(--accent2-color);
    border-bottom: 3px solid var(--accent2-color);
}

.main-nav .active {
    color: var(--accent2-color);
    border-bottom: solid 3px var(--accent2-color);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 10%;
    padding: 2%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.action img {
    width: 20rem;
    padding-left: 20px;
    border-radius: 0 40px 20px 0;
}

.action {
    position: absolute;
    background-color: var(--accent1-color);
    width: 80%;
    margin-top: 35%;
    margin-left: 10%;
    color: var(--primary-color);
    font-weight: 700;
    padding: 20px;
    border-radius: 15px 50px;
}

.action h2 {
  margin-top: 30px;
  text-align: center;
}

.action p {
  margin-top: 30px;
  padding: 0 30px;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.social-links img {
    width: 40px;
    text-decoration: none;
    filter: invert(100%);
}

.social-links a:hover, footer a:hover, .trips-button:hover {
  opacity: 50%;
}

.grid-container-1, .grid-container-4 {
    clear: both;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--nav-background-color);
    color: var(--accent2-color);
}

.grid-container-1 h2, .grid-container-4 h2 {
    grid-column: 1 / 4;
    text-align: center;
}

.grid-container-1, .first-para {
    grid-row: 2;
    padding-left: 20px;
}

.grid-container-1 img {
    grid-column: 2 / 3;
    grid-row: 2;
    max-width: 90%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.grid-container-1, .second-para {
    grid-column: 3 / 4;
    grid-row: 2;
    padding-right: 20px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 30px;
  padding: 100px 0;
}

.grid-container-2 img {
  max-width: 200px;
  height: auto;
  border: solid 4px var(--accent1-color);
}

.employees img {
    border-radius: 100%;
}

.grid-container-2 h2 {
  grid-column: 1 / 6;
  justify-self: center;
}

h2 {
    color: var(--primary-color);
}

.grid-container-2 figure {
  grid-row: 2;
  justify-self: center;
}


/* contact us page */
form {
    width: 80%;
    background-color: var(--accent1-color);
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    grid-column: 2/5;
    margin: 0 0 0 120px;
}

fieldset {
    border-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
}
legend {
    font-size: 1.3rem;
    padding: 10px
}

label {
    font-size: 1.3rem;
}


input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 0 30px;
}

button {
    
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 30px 10px 0 10px;
}

.grid-container-3 h1 {
    grid-column: 1/5;
    text-align: center;
    padding: 50px;
    color: var(--primary-color);
}

.grid-container-3 p {
    grid-column: 1/2;
    margin: 0 0 0 30px;
}

.form-item {
    display: grid;
}

.column1 {
    grid-template-columns: 1fr;
    padding-bottom: 1.5rem;
}

.column1 label {
    padding-left: 2rem;
}

.column1 label[for=useremail] {
    margin-top: 20px;
}

.column1 input[for=text] {
    grid-row: 2;
}

.column2, .column4 {
    grid-template-columns: auto minmax(0, 2fr);
}

.column2 {
    margin-bottom: 20px;
}
.column2 p {
    grid-column: 1/3;
    font-size: 1.3em;
}

.column2 input {
    margin: 0 1rem 0 2rem;
}

.column3 {
    grid-template-columns: 1fr 1fr;
}

.column3 label, .column3 textarea {
    grid-column: 1/3;
    margin: 0 1.4em 0 1.4em;
}

.column4 {
    margin: 10px 0 0 0;
}

.column4 input {
    grid-column: 1/1;
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 1.5rem;
}

.column4 label[for=subscribe] {
    grid-column: 2/3;
}

.contact-para span {
    font-weight: 700;
    font-size: 1.3em;
}

.contact-para {
    padding-top: 6rem;
}



/* Company info/map */

.company-info {
    margin-top: 6rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 50px 0;
}

.company-grid, .grid-container-5, .call-action {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.company-grid h2, .grid-container-5 h2 {
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 2rem;
}

.map iframe{
    border: none;
    border: 6px solid var(--secondary-color);
    border-radius: 20px;
    margin-left: 3rem;
}

.company-grid .address {
    grid-column: 2/4;
    align-self: center;
    justify-self: center;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
}

.employees figcaption {
    font-size: 1.2em;
    font-weight: 600;
}


/* Trips page */
.grid-container-4 img, .grid-container-5 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container-4 img {
    margin-top: 40px;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
}

.first-para, .second-para, .third-para {
    padding: 1rem 3rem 2rem 3rem;
    color: var(--accent2-color);
}

.grid-container-4 article {
    background-color: #0D4B58;
    margin: 8px;
}

.grid-container-4 h2 {
    padding-bottom: 3rem;
}

.grid-container-4 h3 {
    color: var(--accent2-color);
    text-align: center;
    padding-top: 1.5rem;
}

.grid-container-5 {
    padding: 4rem 0;
}

.grid-container-5 table {
    grid-column: 1/3;
}

.grid-container-5 img {
    grid-column: 3/4;
    width: 80%;
    margin-top: 5rem;
    border: 6px solid var(--accent1-color);
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.grid-container-5 ul {
    list-style-type: none;
}

.call-action {
    background-color: var(--secondary-color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    border-radius: 1.5rem;
    padding: 1rem;
}

.cu-statement, .cu-action {
    justify-self: center;
    align-self: center;
}

.cu-statement {
    grid-column: 1/3;
    font-size: 1.3rem;
    font-weight: 600;
}

.cu-action {
    grid-column: 3/4;
}

.call-action a:link, .grid-container-8 a:link {
    text-decoration: none;
}

.call-action a:hover p {
    opacity: 80%;
}

.cu-button {  
    background-color: #0D4B58;
    width: 100%;
    color: var(--accent2-color);
    text-align: center;
    border-radius: 30px;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
}





/* Table CSS */

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 15px;
    font-weight: bold;
  }
  
  thead, th {
    font-size: 1.2rem;
  }

  thead {
    background-color: var(--primary-color);
    color: var(--accent2-color);
  }
  
  th,
  td {
    border: none;
    padding: 18px 20px;
  }
  
  td:last-of-type {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgba(131, 209, 213, 0.4);
  }



  /* Home page */

  .grid-container-7 {
    margin-bottom: 5rem;
  }

  .grid-container-7, .grid-container-8 {
    clear: both;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }

  .grid-container-7 h2, .grid-container-8 h2 {
    grid-column: 1/5;
    text-align: center;
    padding-bottom: 2rem;
  }

  .grid-container-7 h2 {
    margin-top: 3rem;
  }

  .grid-container-7 img, .grid-container-8 img {
    grid-column: 1/3;
    width: 80%;
    margin: auto;
  }

  .why-para, .offer-para {
    margin: auto;
    padding: 0 3rem;
  }

 .why-para {
    grid-column: 3/5;
    margin: auto;
  }

  .offer-para {
    grid-column: 1/2;
  }

  .trips-statement, .trips-button {
    grid-row: 3;
  }

  .grid-container-8 .offer-img {
    grid-row: 2;
    grid-column: 2/5;
    margin: auto;
  }

  .grid-container-1 h2, .company-grid h2, .grid-container-8 h2, .offer-para {
    color: var(--accent2-color);
  }
  .grid-container-8 {
    margin: 5rem 0;
    background-color: var(--primary-color);
    padding: 3.5rem 0;
  }
  
  .grid-container-9 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-bottom: 5rem;
  }

  .grid-container-9 form {
    margin: 0 auto 6rem auto;
  }

  .grid-container-9 h2 {
    grid-column: 2/5;
    text-align: center;
    margin-bottom: 1rem;
  }

  .grid-container-9 img {
    grid-row: 1/3;
    margin: auto  ;
  }

  .grid-container-7 img, .grid-container-9 img {
    filter: drop-shadow(5px 5px 10px rgba(13, 75, 88, 0.6));
  }

  .trips-button {
    background-color: var(--secondary-color);
  }

.trips-button, .trips-link {
    margin: auto;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 10px;
  }

  .grid-container-8 h3 {
    color: var(--primary-color);
  }
 .trips-button {
    border: 1.5px solid var(--accent2-color);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
}
  