@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap');

:root {
    --primary-color: #0D4B58;
    --secondary-color: #83D1D5;
    --accent1-color: #FF9400;
    --accent2-color: #A3DCED;
  
    --heading-font: 'Yeseva One', serif;
    --paragraph-font: 'Josefin Sans', sans-serif;
  
    --nav-background-color: #0D4B58;
    --nav-link-color: #A3DCED;
    --nav-hover-link-color: #0D4B58;
    --nav-hover-background-color: #A3DCED;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent2-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }